
section > ul {

display: flex;
background-color: #8D6E63;
height: 50px;
margin: 0;
}
li {
    display: inline-block;
padding: 20px 20px;
}
a {
    text-decoration: none;
    color: white;
    height: 20px;
}
.main_nenu {
    text-align: center;
    min-width: 150px;
}
.main_nenu:hover {
    
    border-bottom: 3px solid white;
}
.main_nenu:nth-child(2):hover {
    border-bottom: 0;
}
.main_nenu_pius {
    width: 150px;
    background-color: #8D6E63;
}
.main_nenu_pius:hover .sub_menu {

    display: block;
}
.sub_a {
    display: block;
    text-align: center;
    padding: 10px 10px;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
}
.sub_a:hover {
    border-bottom: 3px solid white;  
}
.sub_menu {
    padding-left: 0;
    display: none;
}
.sub_a:first-child {
    margin-top: 20px;
}
.active {
    border-bottom: 3px solid white;
}
.main_menu_active {
    height: 160px;
    background-color: #8D6E63;
}
.form__container {
    background-color: rgba(188, 170, 164, .6);
    height: 90vh;
    position: relative;
    display: none;
}
input {
    display: block;
    margin: 0 auto 20px;
    width: 250px;
    border: 0;
    border-bottom: 1px solid white;
    background-color: rgb(109, 76, 65);
}
form {
    width: 300px;
    background-color: rgb(109, 76, 65);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    color: white;
    height: 250px;
    box-sizing: border-box;
    padding-top: 60px;
}
.enter_button {
    width: 250px;
    margin: 30px auto;
    display: block;
}
label {
    display: inline-block;
}
.remember {
    position: absolute;
    opacity: 0;
    z-index: -1;
    
}
.close_button {
    background-color: rgb(109, 76, 65);
    border: 0;
    position: absolute;
    top: 10px;
    right: 10px;
}
#form:target {
    display: block;
}
.remember+label {
    display: inline-flex;
  align-items: center;
  user-select: none;
}
.remember+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 20px;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }
  .remember:checked+label::before {
    border-color: rgb(109, 76, 65);
    background-color: rgb(109, 76, 65);
    background-image: url("../Tick-Green-Check-Mark-Transparent-Background.png");
  }